section.container {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 109px;
}

.container-movieDetails {
    display: flex;
    flex-direction: row;
}

.return {
    margin-bottom: 31px;
}
ul {
    list-style: none;
  }