
.form-input {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem;
}
.navbar {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.7091211484593838);
}
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    font-size: 17px;
    flex-basis: auto;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 39rem;
   
}

.nav-link:focus, .nav-link:hover {
    color:#FA1F6F;
}

.nav-link {
    display: flex;
    font-size: 19px;
    flex-direction: row;
    align-items: baseline;
    color: #FFFFFF;
    gap: 0.5rem;
}
img.navbar-logo {
    width: 36px;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FA1F6F;
    --bs-btn-border-color: #FA1F6F;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d81d61;
    --bs-btn-hover-border-color: #DDDDDD;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #DDDDDD;
    --bs-btn-active-border-color: #DDDDDD;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FA1F6F;
    --bs-btn-disabled-border-color: #FA1F6F;
}

button.btn.btn-dark.dropdown-toggle {
    margin-top: 2px;
    font-size: 18px;
}

.btn-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    /* --bs-btn-hover-bg: #424649; */
    --bs-btn-hover-border-color: #373b3e;
    --bs-btn-focus-shadow-rgb: 66,70,73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: #373b3e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #212529;
    --bs-btn-disabled-border-color: #212529;
}