.container-pagination{
    display: flex;
    justify-content: space-around;
}
.active>.page-link, .page-link.active {
    background-color: #FA1F6F;
    border-color: #FA1F6F;
}  

.pagination {
    --bs-pagination-color:#25252B;
    display: flex;
    justify-content: center;
    --bs-pagination-bg: #FA1F6F;
}

.page-link {
    color: #FFFFFF;
    font-weight: bold;
}